[submodule "numpy-100"]
	path = numpy-100
	url = https://github.com/rougier/numpy-100.git
[submodule "100-pandas-puzzles"]
	path = 100-pandas-puzzles
	url = https://github.com/ajcr/100-pandas-puzzles.git
